:root {
  --tiles-black: #292f33;
  --tiles-white: #f1f3f4;
  --tiles-medium-grey: #a9a9a9;
  --tiles-light-grey: #dee1e6;
  --tiles-error: #cc0000;
}

html {
  background-color: var(--tiles-light-grey);
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
}

html.transparent-background {
  background-image: conic-gradient(
    var(--tiles-medium-grey) 25%,
    var(--tiles-light-grey) 0 50%,
    var(--tiles-medium-grey) 0 75%,
    var(--tiles-light-grey) 0
  );
  background-size: 20px 20px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}

#main-panel {
  height: min(105vw, 700px);
  width: min(75vw, 500px);
  margin: min(6vw, 40px) 0;
  border: min(0.75vw, 5px) solid var(--tiles-black);
  background-color: var(--tiles-white);
  box-shadow: 0 0 min(7.5vw, 50px) min(3vw, 20px) var(--tiles-white);
  z-index: 1;
}

#demo-grid {
  display: grid;
  grid-template-columns: repeat(10, min(7.5vw, 50px));
  grid-template-rows: repeat(14, min(7.5vw, 50px));
  grid-template-areas:
    "hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr"
    "hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr"
    "t01 t01 t02 t02 t03 t03 t04 t04 t05 t05"
    "t01 t01 t02 t02 t03 t03 t04 t04 t05 t05"
    "t06 t06 t07 t07 t08 t08 t09 t09 t10 t10"
    "t06 t06 t07 t07 t08 t08 t09 t09 t10 t10"
    "t11 t11 t12 t12 t13 t13 t14 t14 t15 t15"
    "t11 t11 t12 t12 t13 t13 t14 t14 t15 t15"
    "pci pci pci pci pci pci pci pci pci pci"
    "sci sci sci sci sci sci sci sci sci sci"
    "kci kci kci kci kci kci kci kci kci kci"
    "sts sts sts sts sts sts sts sts sts sts"
    "szs szs szs szs szs szs szs szs szs szs"
    "cpy cpy cpy cpy cpy cpy cpy cpy cpy cpy";
}

#demo-grid > * {
  padding: min(0.75vw, 5px);
}

#demo-grid-header {
  position: relative;
  font-family: "Inconsolata";
  grid-area: hdr;
  text-align: center;
  font-size: min(6.75vw, 45px);
  font-weight: bold;
  color: var(--tiles-black);
}

#demo-grid-title {
  margin-top: min(3.6vw, 24px);
  line-height: 100%;
}

#demo-grid-randomize-button {
  position: absolute;
  height: calc(100% - min(1.5vw, 10px));
  width: auto;
  aspect-ratio: 1;
  right: min(0.75vw, 5px);
  top: 50%;
  transform: translateY(-50%);
  clip-path: circle(50%);
  cursor: pointer;
}

#demo-grid-randomize-button-image {
  height: 100%;
  width: 100%;
}

@media (hover: hover) {
  #demo-grid-randomize-button-image:hover {
    transform: scale(1.2);
  }
}

#demo-grid-randomize-button-image:active {
  transform: scale(0.9);
}

.demo-grid-tile {
  cursor: pointer;
}

.demo-grid-tile-image {
  height: 100%;
  width: 100%;
}

@media (hover: hover) {
  .demo-grid-tile:not(.tile-active):hover > .demo-grid-tile-image {
    outline: min(0.75vw, 5px) solid var(--tiles-light-grey);
    outline-offset: max(-0.75vw, -5px);
  }
}

.tile-active > .demo-grid-tile-image {
  outline: min(0.75vw, 5px) solid var(--tiles-black);
  outline-offset: max(-0.75vw, -5px);
}

#demo-grid-tile-1 {
  grid-area: t01;
}

#demo-grid-tile-2 {
  grid-area: t02;
}

#demo-grid-tile-3 {
  grid-area: t03;
}

#demo-grid-tile-4 {
  grid-area: t04;
}

#demo-grid-tile-5 {
  grid-area: t05;
}

#demo-grid-tile-6 {
  grid-area: t06;
}

#demo-grid-tile-7 {
  grid-area: t07;
}

#demo-grid-tile-8 {
  grid-area: t08;
}

#demo-grid-tile-9 {
  grid-area: t09;
}

#demo-grid-tile-10 {
  grid-area: t10;
}

#demo-grid-tile-11 {
  grid-area: t11;
}

#demo-grid-tile-12 {
  grid-area: t12;
}

#demo-grid-tile-13 {
  grid-area: t13;
}

#demo-grid-tile-14 {
  grid-area: t14;
}

#demo-grid-tile-15 {
  grid-area: t15;
}

.demo-grid-color-input {
  position: relative;
}

#demo-grid-color-input-primary {
  grid-area: pci;
}
#demo-grid-color-input-secondary {
  grid-area: sci;
}
#demo-grid-color-input-stroke {
  grid-area: kci;
}

.demo-grid-color-input > .demo-grid-color-input-field {
  height: 100%;
  width: 100%;
  padding: 0;
  border: min(0.75vw, 5px) solid var(--tiles-black);
  outline: none;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  font-family: "Inconsolata";
  font-weight: bold;
  text-align: center;
  font-size: min(3vw, 20px);
  color: var(--tiles-black);
}

.demo-grid-color-input > .demo-grid-color-input-field.color-error {
  border-color: var(--tiles-error);
}

.demo-grid-color-button {
  position: absolute;
  height: calc(100% - min(1.5vw, 10px));
  width: auto;
  aspect-ratio: 1;
  right: min(0.75vw, 5px);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.demo-grid-color-button-image {
  height: 100%;
  width: 100%;
}

@media (hover: hover) {
  .demo-grid-color-button:hover > .demo-grid-color-button-image {
    transform: scale(1.2);
  }
}

#demo-grid-stroke-size-slider {
  grid-area: sts;
}
#demo-grid-tile-size-slider {
  grid-area: szs;
}

.demo-grid-slider {
  touch-action: none;
  will-change: transform;
}

.demo-grid-slider-container {
  height: calc(100% - min(1.5vw, 10px));
  width: auto;
  border: min(0.75vw, 5px) solid var(--tiles-black);
  cursor: pointer;
}

.demo-grid-slider-container:active {
  cursor: grabbing;
}

.demo-grid-slider-thumb-container {
  position: relative;
  height: 100%;
  width: calc(100% - min(5.4vw, 36px));
}

.demo-grid-slider-thumb {
  position: absolute;
  height: 100%;
  width: auto;
  aspect-ratio: 1.2;
  background-color: var(--tiles-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata";
  font-weight: bold;
  font-size: min(3vw, 20px);
  color: var(--tiles-white);
  cursor: grab;
}

.demo-grid-slider-container:active .demo-grid-slider-thumb {
  cursor: grabbing;
}

#demo-grid-copy-button {
  grid-area: cpy;
}

#demo-grid-copy-button-text {
  height: 100%;
  width: 100%;
  display: block;
  padding-top: min(0.45vw, 3px);
  border: min(0.75vw, 5px) solid var(--tiles-black);
  outline: none;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  font-family: "Inconsolata";
  font-weight: bold;
  text-align: center;
  font-size: min(3vw, 20px);
  cursor: pointer;
  color: var(--tiles-black);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
}

@media (hover: hover) {
  #demo-grid-copy-button-text:hover {
    background-color: var(--tiles-light-grey);
  }
}

#demo-grid-copy-button-text:active {
  background-color: var(--tiles-medium-grey);
}

#color-picker-container {
  height: 100%;
  width: 100%;
  cursor: default;
}

#color-picker {
  height: 100%;
  padding: min(0.375vw, 2.5px);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
  will-change: transform;
}

.color-picker-item {
  height: min(7.5vw, 50px);
  min-width: 18%;
  max-width: 50%;
  margin: min(0.375vw, 2.5px);
  padding: min(0.75vw, 5px);
  border-radius: 5px;
  text-shadow:
    min(0.375vw, 2.5px) min(0.375vw, 2.5px) min(0.375vw, 2.5px) black,
    0 0 min(0.375vw, 2.5px) black;
  color: var(--tiles-white);
  text-align: center;
  font-size: min(3vw, 20px);
  font-family: "Inconsolata";
  font-weight: bold;
  flex-grow: 1;
  transition:
    transform 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out,
    transform-origin 0.15s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (hover: hover) {
  .color-picker-item:hover {
    transform: scale(0.92);
  }
}

#color-picker-outside-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#color-picker-outside-area.clickable {
  cursor: pointer;
  z-index: 0;
}
