
@font-face {  
    font-family: 'ConsolasApple';
    font-style: normal;  
    unicode-range: U+000-5FF;
    src: local('FormataMedium'), url('../fonts/Consolas.woff2') format('woff2'), url('../fonts/Consolas.woff') format('woff');
}

html{
    font-family: Consolas, ConsolasApple;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#demogrid{  
    background-color: white;
    width: min(95vw,500px);
    height: min(133vw,700px);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 0 50px 50px #fff;
    -webkit-box-shadow: 0 0 50px 50px #fff;
    -moz-box-shadow: 0 0 50px 50px #fff;
    display: grid;
    border: min(1vw,5px) solid black;
    grid-template-columns: repeat(10, min(9.5vw,50px));
    grid-template-rows: repeat(14, min(9.5vw,50px));
    grid-auto-flow: row;
    grid-template-areas:
    "TTT TTT TTT TTT TTT TTT TTT TTT TTT TTT"
    "TTT TTT TTT TTT TTT TTT TTT TTT TTT TTT"
    "T01 T01 T02 T02 T03 T03 T04 T04 T05 T05"
    "T01 T01 T02 T02 T03 T03 T04 T04 T05 T05"
    "T06 T06 T07 T07 T08 T08 T09 T09 T10 T10"
    "T06 T06 T07 T07 T08 T08 T09 T09 T10 T10"
    "T11 T11 T12 T12 T13 T13 T14 T14 T15 T15"
    "T11 T11 T12 T12 T13 T13 T14 T14 T15 T15"
    "CL1 CL1 CL1 CL1 CL1 CL1 CL1 CL1 CL1 CL1"
    "CL2 CL2 CL2 CL2 CL2 CL2 CL2 CL2 CL2 CL2"
    "CL3 CL3 CL3 CL3 CL3 CL3 CL3 CL3 CL3 CL3"
    "OTS OTS OTS OTS OTS OTS OTS OTS OTS OTS"
    "SZS SZS SZS SZS SZS SZS SZS SZS SZS SZS"
    "CNV CNV CNV CNV CNV CNV CNV CNV CNV CNV";
}

#TTT { grid-area: TTT; }
#T01 { grid-area: T01; }
#T02 { grid-area: T02; }
#T03 { grid-area: T03; }
#T04 { grid-area: T04; }
#T05 { grid-area: T05; }
#T06 { grid-area: T06; }
#T07 { grid-area: T07; }
#T08 { grid-area: T08; }
#T09 { grid-area: T09; }
#T10 { grid-area: T10; }
#T11 { grid-area: T11; }
#T12 { grid-area: T12; }
#T13 { grid-area: T13; }
#T14 { grid-area: T14; }
#T15 { grid-area: T15; }
#CL1 { grid-area: CL1; }
#CL2 { grid-area: CL2; }
#CL3 { grid-area: CL3; }
#SZS { grid-area: SZS; }
#OTS { grid-area: OTS; }
#CNV { grid-area: CNV; }

.demogriditem{
    padding: min(1vw,5px);
}

.tileimage{
    width:100%;
    height:100%;
    cursor: pointer;
}

.colorinput{
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
    font-family: Consolas, ConsolasApple;
    font-weight: bold;
    text-align: center;
    width:100%;
    height:100%;
    font-size: 100%;
    border:min(1vw,5px) solid black;
    padding: 0;
}

.slider {
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    margin:0;
    border:min(1vw,5px) solid black;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: min(6vw,30px);
    height: min(6vw,30px);
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    border: none;
    border-radius: 0;
    width: min(6vw,30px);
    height: min(6vw,30px);
    background: black;
    cursor: pointer;
}

#canvascopybutton {
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
    font-family: Consolas, ConsolasApple;
    font-weight: bold;
    width:100%;
    height:100%;
    font-size: 100%;
    line-height: min(6vw,30px);
    border:min(1vw,5px) solid black;
    padding: 0;
}

#titleimage{
    height:100%;
}

@keyframes tileSelectedHighlight {
    0%   {outline-color:black;}
    50%  {outline-color:white;}
    100% {outline-color:black;}
}

.tileSelected{
    outline-width: min(1vw,5px);
    outline-offset: max(-1vw,-5px);
    outline-style: solid;
    animation-name: tileSelectedHighlight;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#canvascopybutton{
    cursor: pointer;
}

#canvascopybutton:hover{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
}

